.admin-bar {
    .main-menu.fixed {
        top: $mobile-admin-bar;
    }

    main {
        position: relative;
        top: $mobile-admin-bar;
    }
}

@media only screen and (min-width: 980px) {
    .admin-bar {
        .main-menu.fixed {
            top: $desktop-admin-bar;
        }

        main {
            position: relative;
            top: $desktop-admin-bar;
        }
    }
}