.main-menu.fixed {
	left: 0;
	top: 0;
	position: fixed;
	z-index: 99;
	width: 100%;
}

.main-menu {
	background: $menu-nav-bg;
	height: $menu-nav-height;
	overflow: visible;

	.w {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		height: 100%;
		position: relative;
		gap: calc($m / 2);
	}
}

#touch-menu, .menu input[type='checkbox'] {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.menu {
	position: absolute;
	width: calc(100% + $m*2);
	left: calc($m * -1);
	top: $menu-nav-height;
	display: grid;
	grid-template-rows: 0fr;
	background: $menu-mobile-bg;
	transition: grid-template-rows .5s ease-in-out;
	margin: 0;
	max-height: 100vh;
	overflow: hidden;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		overflow: hidden;
		margin: 0;
		padding: 0 $m;
		list-style: none;

		li {
			margin-bottom: 0;
			position: relative;
			display: flex;
			flex-direction: row-reverse;
			flex-wrap: wrap;

			> a {
				flex: 1;
			}

			&:last-child {
				margin-bottom: calc($m / 2);
			}

			.submenu {
				width: 100%;
				display: grid;
				grid-template-rows: 0fr;
				transition: grid-template-rows .5s ease-in-out;
				margin-left: calc($menu-icon-size + $p);
			}

			a {
				margin-left: calc($menu-icon-size + $p);
				line-height: $menu-mobile-line-height;
				color: $menu-mobile-color;
				flex: 1;
			}

			ul {
				overflow: hidden;
				margin-left: 0;
				background: $menu-mobile-sub-bg;

				a {
					margin-left: 0;
				}
				

				li {
					overflow: hidden;
				}
			}
		}

		label {
			display: inline-block;
			position: absolute;
			width: $menu-icon-size;
			height: $menu-icon-size;
			margin: 0;
			top: calc($menu-mobile-line-height / 2 - $menu-icon-size / 2);
			transition: transform .5s ease-in-out;
			margin-left: calc($m / 2);

			&::before {
				content: "";
				display: block;
				align-items: center;
				justify-content: center;
				position: absolute;
				width: $menu-icon-size;
				height: 2px;
				top: calc($menu-icon-size / 2);
				left: 0;
				background-color: $menu-icon-color;
				rotate: (0deg);
				transition: rotate .2s ease-in-out;
				scale: .6;
			}

			&::after {
				content: "";
				display: block;
				align-items: center;
				justify-content: center;
				position: absolute;
				width: $menu-icon-size;
				height: 2px;
				top: calc($menu-icon-size / 2);
				left: 0;
				background-color: $menu-icon-color;
				rotate: (90deg);
				transition: rotate .2s ease-in-out;
				scale: .6;
			}
		}

		input:checked ~ .submenu {
			grid-template-rows: 1fr;
		}

		input:checked ~ label {
			&::before {
				rotate: (180deg);
			}

			&::after {
				rotate: (0deg);
			}
		}

		> li {
			
	
			ul {
				background: $menu-mobile-sub-bg;
			}
		}
	}		
}


.mobile-menu{
	margin: 0;
	display:block;
    line-height: $menu-mobile-line-height;
	height: $menu-mobile-line-height;
    padding: 0 1rem;
    text-align: $menu-mobile-align;
	text-transform: $menu-mobile-text-transform;
	font-weight: $menu-mobile-list-width;
	color: $menu-links-color;
	width: 100px;
}

#touch-menu:checked ~ .menu {
	grid-template-rows: 1fr;
  
  > ul {    /* hide scrollbar fix while toggle mobile menu animation for big menus */
	overflow: hidden auto;
    animation: hide-scroll 0.5s backwards;
  }
}


.mobile-menu {
	color: $menu-mobile-color;
	height: $menu-mobile-line-height;
	padding-left: calc($menu-icon-size + $m / 2);
	position: relative;

	&::before, &::after, > div {
		content: "";
		display: block;
		position: absolute;
		width: $menu-icon-size;
		height: 2px;
		left: 0;
		background-color: $menu-icon-color;	
		transition: rotate .2s ease-in-out, opacity .2s ease-in-out, top .2s ease-in-out;
	}

	&::before {
		top: calc(50% - $menu-icon-size / 2.5);
	}

	&::after {
		top: calc(50% + $menu-icon-size / 2.5);
	}

	> div {
		top: 50%;
		opacity: 1;
	}
}

#touch-menu:checked ~ .mobile-menu {
	&::before {
		top: 50%;
		rotate: 45deg;
	}

	&::after {
		top: 50%;
		rotate: 135deg;
	}

	> div {
		top: 50%;
		opacity: 0;
		rotate: 90deg;
	}
}


@media (min-width: $menu-mobile-breakdown) {

	.main-menu.fixed {
		position: fixed;
		height: $menu-desktop-nav-height;
	}

	.main-menu {
		.w {
			flex-direction: row;
			justify-content: flex-start;
		}
	}

	.mobile-menu {
		display: none;
	}
	
	.menu {
		display: inline-block;
		overflow: visible !important;
		position: relative;
		width: unset;
		top: 0;
		left: 0;
		height: 100%;
		flex: 1;
		background-color: unset;

		ul {
			display: flex;
			flex-direction: row;
			overflow: visible;
			gap: $menu-desktop-gap;
			padding: 0;
			height: 100%;
			align-items: center;

			label {
				display: none;
			}

			input:checked ~ .submenu {
				grid-template-rows: 0fr;
			}

			li {
				height: 100%;

				.submenu {
					position: absolute;
					margin-left: 0;
	
					left: calc($p * -1);
					top: $menu-desktop-nav-height;
					width: $menu-desktop-submenu-width;

					ul {
						overflow: hidden;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 0;

						background-color: $menu-desktop-submenu-bg;

						li {
							padding-inline: calc($m / 2);

							&:last-child {
								margin-bottom:  calc($m / 4);
							}
						}
					}
				}

				a {
					margin-left: 0;
					height: 100%;
					display: flex;
					align-items: center;
				}

				&:hover {
					.submenu {
						grid-template-rows: 1fr !important;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}		
	}

	#touch-menu:checked ~ .menu {
  
		> ul {    /* hide scrollbar fix while toggle mobile menu animation for big menus */
			overflow: visible;
		  	animation: unset;
		}
	}
}

@keyframes hide-scroll { /* hide scrollbar fix while toggle mobile menu animation for big menus */
	from, to {
	  overflow: hidden;
	} 
}
