.pagination {
    @extend .wide;

    margin-top: $m;
    margin-inline: $m;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-weight: bold;
    position: relative;

    &:empty {
        visibility: none;
    }

    a {
        color: var(--primary);
        font-weight: normal;
        line-height: 1rem;
    }

    a.prev, div.prev > a, a[rel="prev"] {
        font-size: 0;
        position: absolute;
        left: 0;

        &::before {
            font-size: 1rem;
            content: "\2190";
            display: inline-block;
            margin-right: 1rem;
            line-height: 1.5rem;
            color: var(--primary);
        }
    }

    a.next, div.next > a, a[rel="next"] {
        font-size: 0;
        position: absolute;
        right: 0;
        top: 0;

        &::after {
            content: "\2192";
            font-size: 1rem;
            display: inline-block;
            margin-left: 1rem;
            line-height: 1.5rem;
            color: var(--primary);
        }
    }
}

@media (min-width: $mobile-break) {
    .pagination {
        @extend .wide;

        display: flex;
        top: 0;
        //border-right: 1px var(--lbg-color) solid;
        &:empty {
            display: none
        }


        font-weight: bold;

        a {
            font-weight: normal;
        }

        a.prev, a.next, div.next a, div.prev a, a[rel="prev"], a[rel="next"] {
            font-size: 1rem;
        }
    }
}