main {
    article {
        h1, h2, h3, h4, h5, p {
            max-width: $max-text-width;
            margin-inline: $m;
        }
    }
}

@media (min-width: $md-width) {
    main {
        article {
            h1, h2, h3, h4, h5, p {
                margin-left: $text-left-margin;
            }
        }
    }
}