footer {
    border-top: $lines;
    margin-top: $m;

    .copyright {
        @extend .text-field;
        padding-block: $m;
    }    
}

@media (min-width: $mobile-break) {
    footer {
        .copyright {
            @extend .text-field;
        }        
    }
}