.logo {
    width: calc($text-margin - $m);
    display: flex;
    justify-content: flex-end;    

    a {
        font-size: 0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--txt);
        text-decoration: none;
        font-weight: 700;
    }

    svg {
        height: calc($menu-nav-height - 1rem);
    }
}

.search-field {
    //position: absolute;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: calc($m / 2);
}

nav {
    .w2560 {
        height: 100%;
    }
}

@media (min-width: $mobile-break) {
    .logo {
        justify-content: flex-start;


    }

    .menu ul li.search-field {
        justify-content: flex-end;
        padding: 0;
        height: unset;
        flex-direction: row;
    }

    nav {
        border-bottom: $lines;
        box-shadow: var(--shadow);
    
        .w2560 {    
            a {
                font-size: 1rem;
                gap: .5rem;
            }
        }
    
        .submenu {
            border-left: $lines;
            border-bottom: $lines;
            border-right: $lines;
        }
    }
}

