:root {
    --primary: #1ab752;
    --secondary: #edb12f;
    --txt: #111;
    --links: #319BDE;
    --bg: #fff;
    --bg2: #efefef;
    --trans: transparent;
    --m-inline: 2rem;
    --shadow: .25rem .25rem 1rem 0 rgba(30,30,30, .05);
    --max-text-width: 640px;
    --text-margin-left: 25%;
}