@use 'sass:math';
@import "options";
@import "mixins";

/* base */
//@import "smacss/base/normalize";
@import "smacss/base/base";

/* layout */
@import "smacss/layout/layout";
@import "smacss/layout/grid";
@import "smacss/layout/default-grid";
@import "smacss/layout/css-grid";
@import "smacss/layout/grid-padding";
@import "smacss/layout/mobile-grid";
@import "smacss/layout/square-block";
@import "smacss/layout/center-block";
@import "smacss/layout/clear";
@import "smacss/layout/paddings";
@import "smacss/layout/admin-bar";


/* modules */
@import "smacss/modules/menu";
@import "smacss/modules/pagination";
@import "smacss/modules/forms";
@import "smacss/modules/search-form";
@import "smacss/modules/meta-tags";
@import "smacss/modules/accordeon";
@import "smacss/modules/print-styles";
@import "smacss/modules/buttons";
@import "smacss/modules/buttons-ghost";
@import "smacss/modules/buttons-flat";

@import "smacss/modules/images";
@import "smacss/modules/tables";
@import "smacss/modules/cover-image";

@import "smacss/modules/alert";

/* states */
@import "smacss/states/helper-classes";
@import "smacss/states/fade-in-viewport";

/* theme */
@import "smacss/theme/header";

@import "icons";

body {
      scroll-behavior: smooth;
}

.w {
      width: 100%;
}

.w2560 {
      width: 100%;
}

main {
      margin-top: $menu-mobile-line-height;
}

.p0 {
      padding: 0;
}

.pt0 {
      padding-top: 0;
}

.pb0 {
      padding-bottom: 0;
}

.pl0 {
      padding-left: 0;
}

.pr0 {
      padding-right: 0;
}

.pp {
      padding: $p;
}

.ptp {
      padding-top: $p;
}

.pbp {
      padding-bottom: $p;
}

.plp {
      padding-left: $p;
}

.prp {
      padding-right: $p;
}

.m {
      margin: 0;
}

.mt0 {
      margin-top: 0;
}

.mb0 {
      margin-bottom: 0;
}

.ml0 {
      margin-left: 0;
}

.mr0 {
      margin-right: 0;
}

.mp {
      margin: $p;
}

.mtp {
      margin-top: $p;
}

.mbp {
      margin-bottom: $p;
}

.mlp {
      margin-left: $p;
}

.mrp {
      margin-right: $p;
}

@media (min-width: $menu-mobile-breakdown) {
      .w {
            max-width: $w;
            margin: 0 auto;
      }

      .w2560 {
            max-width: 2560px;
            margin: 0 auto;
      }

      main {
            margin-top: $menu-desktop-line-height;
      }
}

