//Breakpoints
$xs-width: 0;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;
$max-width: 1920px;

//Text
$txt: var(--txt);
$links: var(--links);
$hover: var(--secondary);
$font-family: system-ui;
$font: 16px; 
$line: 1.75;
$font1: 1;
$font2: 1.5;
$font3: 2.25;
$padding-margin-bottom: 1rem;
$text-margin-left: var(--text-margin-left);

//Color scheme
$primary: var(--primary);
$secondary: var(--secondary);
$white: #fff;
$dark: #111;
$bg: $white;

//Layout
$m: var(--m-inline);
$main-top: 5rem;
$lines: 1px var(--bg2) solid;

//Nav
$menu-nav-bg: var(--bg);
$menu-nav-height: 4rem;
$menu-icon-color: var(--primary);
$menu-icon-size: 1.5rem;

$menu-desktop-gap: 1rem;
$menu-desktop-nav-height: 5rem;
$menu-desktop-background:  var(--bg2);
$menu-desktop-submenu-width: 16rem;
$menu-desktop-submenu-bg: var(--bg);

$menu-bg: var(--bg2);

$menu-color: var(--primary);

$menu-light-color: var(--light-color);
$menu-desktop-position: fixed;

$menu-mobile-bg: var(--bg2);
$menu-mobile-color: var(--primary);
$menu-mobile-align: left;
$menu-mobile-list-align: left;
$menu-mobile-list-color: var(--green);
$menu-mobile-list-width: 600;
$menu-mobile-line-height: 2rem;
$menu-mobile-sub-bg: var(--trans);

$menu-links-hover-bg: var(--green);
$menu-links-color: var(--light-color);
$menu-links-border: none;

$menu-sublinks-color: var(--dark-gray);
$menu-sublinks-bg: var(--lbg-color);
$menu-sublinks-border: 3px var(--dark-gray) solid;
$menu-sublinks-hover: var(--green);
$menu-sublinks-hover-bg: var(--lbg-color);
$menu-sublinks-hover-border: 3px var(--green) solid;
$menu-desktop-line-height: 2rem;

$menu-mobile-text-transform: none;
$menu-main-level-bg: var(--light-color);
$menu-submenu-bg: var(--lbg-color);

$menu-mobile-breakdown: 820px;
$menu-desktop-breakdown: 1280px;

//Gutenberg blocks
$max-text-width: var(--max-text-width);
$text-left-margin: 25%;

//Temp
$p: 1rem;
